.wrapper__searchMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerText {
  margin-bottom: 30px;
}

.inputSearch {
  border-radius: 10px;
  width: 953px;
  height: 76px;
  background: #d9d9d9;
  padding: 24px;

  font-weight: 600;
  font-size: 24px;
  color: #524f4f;
}

.wrapper__searchMain-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.cardSearchMain {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  width: 951px;
  height: auto;
  padding-top: 12px;
}

.cardSearchMain:hover .cardSearchMain__text-title {
  color: var(--purpleLight);
  transition: color 0.7s;
}

.cardSearchMain > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

.titleKey {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}

.titleKey {
  margin-right: 10px;
}

.cardSearchMain__text {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  gap: 10px;
  margin-left: 15px;
}

.cardSearchMain__text > span,
.cardSearchMain__text > ul {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: #aaa;
}

.cardSearchMain__text > ul {
  display: flex;
}

.searchMainButton {
  position: absolute;
  right: 0;
  border-radius: 10px;
  width: 88px;
  height: 76px;
  background-color: var(--button-color);
}

.cardSearchMain > img {
  width: 150px;
  height: 225px;
}

.cardSearchMain__text-title {
  text-align: start;
}