header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0px 120px 0px 120px;
  background-color: var(--background);
}

.logo {
  width: 170px;
  height: 40px;
  margin-right: 66px;
}

nav ul {
  display: flex;
  gap: 30px;
}

nav ul li a {
  font-family: "Syne-Regular", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9c9a9a;
}

nav ul li a.active {
  color: var(--headerWhite);
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    90deg,
    rgba(224, 170, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(224, 170, 255, 1) 100%
  );
  padding-bottom: 16px;
  border-image-slice: 1;
}

nav ul li a:hover {
  color: var(--headerWhite);
  transition: color 0.7s;
}

.LogIn {
  font-family: "Syne-Regular", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: var(--headerWhite);
  margin-left: auto;
}
