.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.wrapper__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonAuth {
  border-radius: 15px;
  width: 320px;
  height: 56px;
  background-color: var(--button-color);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--background);

  margin-bottom: 30px;
}

.logoAuth {
  width: 170px;
  height: 40px;
  position: absolute;
  top: 25px;
  left: 120px;
}

.backAuth {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.inputAuth {
  border-radius: 15px;
  width: 320px;
  height: 56px;
  padding: 13px 19px 13px 19px;
  background: #fff;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  color: var(--black);

  margin-bottom: 25px;
  margin-top: 36px;
}

.inputAuth::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

.inputButtonAuth {
  display: none;
}