.dropdown {
  position: relative;
  display: inline-block;
}

.dropButton {
  display: flex;
  align-items: center;
  padding: 10px 13px;
  gap: 11px;
  border-radius: 10px;
  background: rgba(153, 153, 191, 0.2);

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {display: block;}